{% load django_bootstrap5 %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {%if title%}
    <title>Moringa Tribune - {{title}}</title>
    {% else %}
    <title>Moringa Tribune </title>
    {% endif %}
    {% block styles %}
        {% bootstrap_css %}
        <link rel="stylesheet" href="{% static 'css/basenews.css' %}">
  {% endblock %}

</head>
<body>
    {% include 'navbar.html' %}
    {%block content%} 
    <h1 class="text-center">News for {{date |date:"l d-F Y"}}</h1>
    {%endblock%}

    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     {% bootstrap_javascript %}
    {% endblock %}
</body>
</html>